<div class="flex flex-col items-center my-8">
  <div class="px-3 max-w-6xl w-full mx-auto">
    <h2 class="text-2xl font-medium mb-2">{{ section.settings.h2_title }}</h2>
    <p>{{ section.settings.p_textarea }}</p>
  </div>
</div>



{% schema %}
{
    "name": "H2 & Textarea",
    "settings": [
        {
          "type": "text",
          "id": "h2_title",
          "default": "Title goes here.",
          "label": "H2 Title"
        },
        {
          "type": "textarea",
          "id": "p_textarea",
          "default": "Content goes here.",
          "label": "Textarea"
        }
    ],
    "presets": [
      {
        "name": "H2 & Textarea"
      }
    ]
}
{% endschema %}