<div class="h-full flex items-center justify-center px-6">
    <div class="max-w-md w-full py-8">
        <div>
            <h1 class="text-center text-3xl font-medium py-8">Reset your password</h1>
        </div>
        <div>
            {% form 'reset_customer_password' %}
                {% if form.errors %}
                    <div class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3" role="alert">
                        <strong class="font-bold">Error!</strong>
                        <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}

                <div class="my-2">
                    <label for="password" class="text-gray-500 font-medium uppercase text-xs mb-2">Password</label>
                    <input
                        type="password"
                        name="customer[password]"
                        id="password"
                        autocomplete="new-password"
                        class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-md border-green-700"
                    >
                </div>

                <div class="my-2">
                    <label for="password_confirmation" class="text-gray-500 font-medium uppercase text-xs mb-2">Confirm Password</label>
                    <input
                        type="password"
                        name="customer[password_confirmation]"
                        id="password_confirmation"
                        autocomplete="new-password"
                        class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-md border-green-700"
                    >
                </div>

                <div>
                    <button type="submit" class="w-full cursor-pointer px-4 py-2 border bg-green-700 border-green-700 rounded-full text-base font-medium text-white hover:bg-green-900 hover:text-white hover:border-green-900">Reset password</button>
                </div>
            {% endform %}
        </div>
    </div>
</div>