<div class="h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full mb-8">
        <h1 class="text-center text-3xl font-medium py-8">Register an Account</h1>
        
        <div>
            {% form 'create_customer' %}
                {% if form.errors %}
                    <div class="border p-5 border-red-500 rounded-md mb-3" role="alert">
                        <strong class="font-bold">Error!</strong>
                        <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}

                <div class="my-2">
                    <label for="first_name" class="text-gray-500 font-medium uppercase text-xs mb-2">First Name</label>
                    <input
                        type="text"
                        name="customer[first_name]"
                        id="first_name"
                        autocomplete="given-name"
                        class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-md border-green-700"
                    >
                </div>

                <div class="my-2">
                    <label for="last_name" class="text-gray-500 font-medium uppercase text-xs mb-2">Last Name</label>
                    <input
                        type="text"
                        name="customer[last_name]"
                        id="last_name"
                        autocomplete="family-name"
                        class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-md border-green-700"
                    >
                </div>

                <div class="my-2">
                    <label for="birthday" class="text-gray-500 font-medium uppercase text-xs mb-2">Birthday</label>
                    <input
                        type="date"
                        name="customer[note][Birthday]"
                        id="birthday"
                        class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-md border-green-700"
                    >
                </div>

                <div class="my-2">
                    <label for="email_address" class="text-gray-500 font-medium uppercase text-xs mb-2">Email Address</label>
                    <input
                        type="email"
                        name="customer[email]"
                        id="email_address"
                        autocomplete="email"
                        class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-md border-green-700"
                    >
                </div>

                <div class="my-2">
                    <label for="password" class="text-gray-500 font-medium uppercase text-xs mb-2">Password</label>
                    <input
                        type="password"
                        name="customer[password]"
                        id="password"
                        autocomplete="current-password"
                        class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-md border-green-700"
                    >
                </div>

                <div>
                    <button type="submit" class="w-full cursor-pointer px-4 py-2 border bg-green-700 border-green-700 rounded-full text-base font-medium text-white hover:bg-green-900 hover:text-white hover:border-green-900">Create account</button>
                </div>
            {% endform %}
        </div>
    </div>
</div>